.add {
    position: relative;
    position: absolute;
    bottom: -60px;
    right: 0;
    border-radius: 50%;
    background-color: $Button;
    width: 60px;
    height: 60px;

    &__plus {
        position: absolute;
        top: 5%;
        left: 35%;
        color: $white;
        font-size: 2rem;
    }
}