// colors
$HeaderTitle: #222629;
// Colors
$HeaderTitle: #222629;
$FooterTitle: #292d31;
$white: #ffffff;
$Button: #f04e4e;

//Fonts
$RobotoRegular: 'Roboto Regular',sans-serif;
$RobotoThin: 'Robot Thin',sans-serif;


