// colors
$HeaderTitle: #222629;
// Colors
$Header: #222629;
$Footer: #292d31;
$white: #ffffff;
$Button: #f04e4e;
$orange: #ff9700;
$yellow: #fecc17;

//Fonts
$RobotoRegular: 'Roboto Regular',sans-serif;
$RobotoThin: 'Roboto Thin',sans-serif;
$RobotoLight: 'Roboto Light',sans-serif;

